<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">books</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followings</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
      <li class="nav-item"><a href="#" class="nav-link">likes</a></li>
      <li class="nav-item"><a href="#" class="nav-link">mypages</a></li>
    </ul>
  </div>
</div>
