 <div id="wrapper">
  <div id="main">
   <img class="logo" src="/assets/book.jpg" alt="booklogo">
  </div>
  <div id="aside">
   <font size="6">新しい本に出会える場所</font>
   <br/>
   <font size="5">本に対する感想を投稿しよう</font>
  </div>
 </div>
 <div class="margin"></div>
 <br>
 <p>新着投稿</p>
 