<div class="row">
 <aside class="col-sm-7">
  <img class="logo" src="/assets/book.jpg" alt="booklogo">
 </aside>
  <div class="col-sm-5">
   <div class="margin"></div>
   <font size="6">新しい本に出会える場所</font>
   <br/>
   <font size="5">本に対する感想を投稿しよう</font>
  </div>
</div>
 
     